[sqlite]
connection = "file::memory:?mode=memory"

[infura]
network = "rinkeby"
apikey = "insert_api_key"

[telegram]
token = "555555555:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
chatId = "@channelusername"

[[contract]]
truffleJson = "./contracts/Contract1.json"
address = "0xAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"

[[contract]]
truffleJson = "./contracts/Contract2.json"
address = "0xAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
